name: Java CI with Maven

on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        java-version: '20'
        distribution: 'temurin'
        cache: maven
    - run: mvn test
    - name: Maven Package
      run: mvn clean package -Pproduction
    - uses: actions/upload-artifact@v3
      with:
        path: target/weatherstation-1.0-SNAPSHOT.jar
